<% if @player_one && !@player_two %>
	Welcome to BattleShips, <%= @player_one %>!
	Player Two, what's your name?
	<form action="/new_game/submit/player/two" method="post">
		<input type="text" value="Player Two" name="player">
		<button type="submit" id="submit">Enter</button>
	</form>
<% elsif @player_one && @player_two %>
	Welcome to BattleShips, <%= @player_one %> and <%= @player_two %>!
	<a class="btn btn-default btn-lg" href="/placement" role="button">start placing ships</a>
<% else %>
	Player One, what's your name?
	<form action="/new_game/submit/player/one" method="post">
		<input type="text" value="Player One" name="player">
		<button type="submit" id="submit">Enter</button>
	</form>
<% end %>
<form action="/new_game/reset" method="post">
	<input type="hidden" name="_method" value="delete">
	<button type="submit" id="reset">Reset</button>
</form>
