<% if @name %>
	Welcome to BattleShips, <%= @name %>!
<% else %>
	What's your name?
	<form>
		<input type="text" value="Player One" name="name">
		<button type="submit" id="submit">Enter</button>
	</form>
<% end %>