<% if GAME.players.count == 0 %>
	Player One, what's your name?
	<form action="/new_game/submit/player/one" method="post">
		<input type="text" value="Player One" name="player">
		<button type="submit" id="submit">Enter</button>
	</form>
<% elsif GAME.players.count == 1 %>
	Welcome to BattleShips, <%= GAME.players.first.name %>!
	Player Two, what's your name?
	<form action="/new_game/submit/player/two" method="post">
		<input type="text" value="Player Two" name="player">
		<button type="submit" id="submit">Enter</button>
	</form>
<% elsif GAME.players.count == 2 %>
	Welcome to BattleShips, <%= GAME.players.first.name %> and <%= GAME.players.last.name %>!
	<a class="btn btn-default btn-lg" href="/ship_placement" role="button">start placing ships</a>
<% end %>
<form action="/new_game/reset" method="post">
	<input type="hidden" name="_method" value="delete">
	<button type="submit" id="reset">Reset</button>
</form>
