<div id="ship_board">

	<!-- have to use the x and y counters below because arrays find index by unique content -->

	<% x = 0 %>
	<% @board.each do |row| %>
		<div class="board_row" id="row_<%= x %>">
			<% y = 0 %>
			<% row.each do |cell| %>
				<div class="board_cell" id="row_<%= x %>_cell_<%= y %>">
					bob
					<% y += 1 %>
				</div>
			<% end %>
			<% x += 1 %>
		</div>
	<% end %>

</div>
